<div class="toolbar" role="banner">
    <div class="logo-text">
        <span class="company-name">Job Portal</span>
    </div>
    <div class="header_links">
        <ul class="header-links-left">
            <li class="links">For Employees</li>
            <li class="links">For Applicants</li>
            <li class="links">Support</li>
        </ul>
        <ul class="header-right">
            <li class="right-links">Sign In</li>
            <li class="right-links">Submit Jobs</li>
        </ul>
    </div>
</div>

<div class="content" role="main">
    <div class="search_box">
        <div class="simple-search-start">
            <div class="keyword_search">
                <input type="search" placeholder="Search By Keyword" [(ngModel)]="keywordSearch">
            </div>
            <div class="checkbox_group">
                <ul class="checkbox_list" (change)="updateJobList()">
                    <li>
                        <input type="checkbox" id="fulltime" [(ngModel)]="fullTimeJobs">
                        <label for="fulltime"><span>Full time</span></label>
                    </li>
                    <li>
                        <input type="checkbox" id="parttime" [(ngModel)]="partTimeJobs">
                        <label for="parttime"><span>Part time</span></label>
                    </li>
                    <li>
                        <input type="checkbox" id="freelancer" [(ngModel)]="freelancerJobs">
                        <label for="Freelancer"><span>Freelancer</span></label>
                    </li>
                    <li>
                        <input type="checkbox" id="all" [(ngModel)]="allJobs">
                        <label for="all"><span>All</span></label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="advanced-search">
            <input type="checkbox" id="advanced_search" [(ngModel)]="showAdvancedFilter">
            <label for="advanced_search"><span>Advanced Search</span></label>
        </div>
        <div class="advanced-search-display" *ngIf="showAdvancedFilter">
            <div class="location_search">
                <input type="search" placeholder="Search By Location" [(ngModel)]="locationSearch">
            </div>
            <div class="location_search">
                <input type="search" placeholder="Search By Experience" [(ngModel)]="experienceSearch">
            </div>
        </div>
    </div>
    <job-list [keywordSearch]="keywordSearch" [locationSearch]="locationSearch" [experienceSearch]="experienceSearch" [showNoMatchOnChecked]="showNoMatchOnChecked"></job-list>
</div>