<div class="job_list_outer">
    <ng-container *ngIf="!showNoMatchOnChecked">
        <div class="job_list_inner" *ngFor="let job of jobs | jobFilter: keywordSearch: locationSearch: experienceSearch ">
            <div class="job_content" *ngIf="!showNoMatch">
                <div class="job_title">
                    <h4>Job Title</h4>
                    <p>{{job.title}}</p>
                </div>
                <div class="job_description">
                    <h4>Description</h4>
                    <p [innerHTML]="job.jobDescription | safeHtml"></p>
                </div>
                <div class="job_title">
                    <h4>Location</h4>
                    <p>{{job.placeholders[2].label}}</p>
                </div>
                <div class="job_title">
                    <h4>Number of experience required</h4>
                    <p>{{job.placeholders[0].label}}</p>
                </div>
            </div>
            <div class="job-content-right">
                <div class="company_logo">
                    <img [src]="job.logoPath" alt="'Company Logo'">
                </div>
                <div class="job_apply">
                    <button class="apply_button">
                        Apply
                    </button>
                </div>
            </div>
        </div>
    </ng-container>

    <div *ngIf="showNoMatch || showNoMatchOnChecked" class="no_jobs">
        <h2>No Match Found</h2>
    </div>
</div>